<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-md-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Введи имя и НАЖИМАЙ</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-input [(ngModel)]="playerResponse.name" style="width:100%;height: auto;" placeholder="Имя"></md-input>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <button md-raised-button (click)="sendResponse()" class="md-raised md-primary" style="width:100%">Я знаю!</button>
            </md-card-actions>
          </md-card>
    </div>
  </div>
</div>
